body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* SECTIONS */
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;

    width: min-content;
    height: min-content;

    background-color: #ffe8da;
}

.child-section {
    max-width: 750px;
    height: min-content;
    padding: 0;
}


/* TEXT-DESIGN */

p {
    font-weight: 700;
}

#response-advice {
    width: 200px;
    margin: 0 30px 0 20px;
}

/* IMAGE */

#response-image {
    max-width: 250px;
}

/* MAIN-BOTTOM */
.main-button {
    position: absolute;
    bottom: 0px;
    right: 0;
    top: -55px;
    left: 0;
    margin: 0 auto;

    width: 180px;
    height: 40px;
    background-color: #72005F;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.main-button:hover {
    background-color: #530045;
    cursor: pointer;
}

@media (max-width: 639px) {
    .main-section {
        flex-direction: column-reverse;
    }

    #response-image {
        width: 250px;
    }

    #response-advice {
        width: 200px;
        margin: 0;
    }
}